<div class="modal fade" id="modal-activation" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title"><b>ACTIVACIÓN DEL WINBOX</b></h3>
			</div>
			<div class="modal-body">
				<span>Winbox desactivado. Activar licencia?</span>
				<div id="modal-license">
					<label>Número de licencia</label>
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2 animated">
							<input type="text" class="form-control text-center" placeholder="XXXX - XXXX - XXXX - XXXX - XXXX - XX" maxlength="27">
						</div>
					</div>
				</div>
				<div id="modal-server">
					<label>Servidor de contenidos</label>
					<div class="row">
						<div class="col-xs-4">
							<button type="button" class="btn btn-default form-control dropdown-toggle text-left" data-toggle="dropdown">
								<span>Producción</span><span class="caret">&nbsp;</span>
							</button>
							<ul class="dropdown-menu">
								<li><a>Producción</a></li>
								<li><a>Desarrollo</a></li>
							</ul>
						</div>
						<div class="col-xs-8">
							<input type="text" class="form-control" value="http://windowschannel.net" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-lg"><b>Activar</b></button>
			</div>
		</div>
	</div>
</div>
